/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.addButton {
  position: absolute;
  right: 0;
}

.greenColor{
  color:greenyellow;
  cursor: pointer;
}

.redColor{
  color: rgb(255, 187, 0);
  cursor: pointer;
}

.backGroundcolorGreen{
 background-color: greenyellow;
 text-align: center;
 cursor: pointer;
}

.backGroundcolorRed{
  background-color: rgb(255, 187, 0);
  text-align: center;
  cursor: pointer;
  left: 6px;
}